.DS_Store
Thumbs.db
node_modules/
/.pnp/
.pnp.js
dist/
build/
/.cache/
.turbo/
.venv/
.env
.env.*.local
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
.idea/
.vscode/
coverage/
coverage-final.json
/.parcel-cache/
.nyc_output/
reports/
/.vite
/.sass-cache
desktop.ini
__pycache__/
.pytest_cache/
*.tgz
*.gz
*.zip
